{% extends 'base.html'%}
{% block title %}Semantic UI{% endblock%}
{% block main %}
<div class="ui segment">
  <h1>按钮样式</h1>
  <button class="ui button">实心按钮</button>
  <button class="ui basic button">空心按钮</button>
  <button class="ui basic positive button">积极</button>
  <button class="ui negative button">消极</button>
  <button class="ui blue button">Button</button>
  <hr>
  <h1>按钮大小</h1>
  <button class="ui button mini">Mini Button</button>
  <button class="ui button tiny">Tiny Button</button>
  <button class="ui button small">Small Button</button>
  <button class="ui button">Normal Button</button>
  <button class="ui button medium">Medium Button</button>
  <button class="ui button large">Large Button</button>
  <button class="ui button big">Big Button</button>
  <button class="ui button huge">Huge Button</button>
  <button class="ui button massive">Massive Button</button>
</div>
{% endblock %}