{% extends 'base.html' %}
{% block title %}Chat Room Home Page{% endblock %}
{% block main %}
<div class="ui container" style="margin-top:20px;">
    <div class="ui stackable placeholder segment">
      <div class="ui two column stackable center aligned grid">
        <div class="ui vertical divider">Or</div>
        <div class="middle aligned row">
          <div class="column">
            <div class="ui icon header">
              <i class="user icon"></i>
              Register As A User
            </div><br>
             <a class="ui primary button" href="{{url_for('auth.register')}}">
              Register
             </a>
          </div>
          <div class="column">
            <div class="ui icon header">
              <i class="sign-in icon"></i>
              Login To The Main Chat Room
            </div><br>
            <a class="ui green button" href="{{url_for('auth.login')}}">
              Login
            </a>
            <div class="ui divider"></div>
            <small>使用第三方登录</small>&nbsp;&nbsp;:&nbsp;&nbsp;<a title="Github" href="{{url_for('oauth.login', provider_name='github')}}"><i class="grey github circular large icon"></i></a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}